In [74]:
import pandas as pd
import numpy as np

In [75]:
def read_csv(path): return pd.read_csv( path, sep = ',' )

In [76]:
# This dataset is a list of student attributes in a school, Hair, Eye, Sex
# and the Freq, or the total number of students with those attributes

path = "../../assets/HairEyeColor.csv" # relative path
df = read_csv(path) # calls read_csv function given path

In [77]:
# What are the datatypes for the df?
df.dtypes

Unnamed: 0     int64
Hair          object
Eye           object
Sex           object
Freq           int64
dtype: object

In [78]:
# create a variable called columns that will have a list of all dataframe column names
columns = df.columns.tolist()
columns

['Unnamed: 0', 'Hair', 'Eye', 'Sex', 'Freq']

In [79]:
# Drop the Column Named 'Unnamed: 0' from df
# Hint: If your column variable is a list, you can slice by index to access elements
columns = columns[1:]

In [80]:
# Show that the Column 'Unnamed: 0' has actually been removed
columns

['Hair', 'Eye', 'Sex', 'Freq']

In [81]:
# Are there any null or empty values in df? 
df.isnull()

   Unnamed: 0   Hair    Eye    Sex   Freq
0       False  False  False  False  False
1       False  False  False  False  False
2       False  False  False  False  False
3       False  False  False  False  False
4       False  False  False  False  False
5       False  False  False  False  False
6       False  False  False  False  False
7       False  False  False  False  False
8       False  False  False  False  False
9       False  False  False  False  False
10      False  False  False  False  False
11      False  False  False  False  False
12      False  False  False  False  False
13      False  False  False  False  False
14      False  False  False  False  False
15      False  False  False  False  False
16      False  False  False  False  False
17      False  False  False  False  False
18      False  False  False  False  False
19      False  False  False  False  False
20      False  False  False  False  False
21      False  False  False  False  False
22      False  False  False  False  False
23      False  False  False  False  False
24      False  False  False  False  False
25      False  False  False  False  False
26      False  False  False  False  False
27      False  False  False  False  False
28      False  False  False  False  False
29      False  False  False  False  False
30      False  False  False  False  False
31      False  False  False  False  False

In [82]:
# How many rows are in df? 
df.shape

(32, 5)

In [83]:
# print the first 15 rows in df
df.head(15)

    Unnamed: 0   Hair    Eye   Sex  Freq
0            1  Black  Brown  Male    32
1            2  Brown  Brown  Male    53
2            3    Red  Brown  Male    10
3            4  Blond  Brown  Male     3
4            5  Black   Blue  Male    11
5            6  Brown   Blue  Male    50
6            7    Red   Blue  Male    10
7            8  Blond   Blue  Male    30
8            9  Black  Hazel  Male    10
9           10  Brown  Hazel  Male    25
10          11    Red  Hazel  Male     7
11          12  Blond  Hazel  Male     5
12          13  Black  Green  Male     3
13          14  Brown  Green  Male    15
14          15    Red  Green  Male     7

In [84]:
# create a another dataframe called df1 that has the records of students with only black hair

# call this dataframe df1
df1 = df[df.Hair == "Black"] 
df1.shape

(8, 5)

In [85]:
# create a another dataframe called df2
# df2 should have have records of students with black hair and brown eyes
# HINT:, retransform df1!

# How many students have black eyes and brown hair? 

# HINT: Once you have df2, you can do a sum operation on any column of df2, including Freq
df2 = df1[df.Eye == "Brown"]
df2
sum(df2.Freq)

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

68

In [86]:
# create a another dataframe called df3
# df3 should have have records of male students with black hair and brown eyes
# HINT:, retransform df2!

# How many blackeyed, brown hair, male students are in the class? 
df3 = df2[df.Sex == "Male"]
df3

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

   Unnamed: 0   Hair    Eye   Sex  Freq
0           1  Black  Brown  Male    32

In [87]:
# create a another dataFrame called df4, that only filters df (NOT df1,df2,df3)
# to get the total number of male students with black hair, brown eyes.
# HINT: df4 = df[ (df.column1 == someVal1) & ..... & (df.columnN == someValN) ]
# You can put multiple conditions in a dataframe by enclosing each condition in parenthesis,
# and separating each consecutive condition with a '&' symbol.

# One you have d4, print the total number of male students with black hair, brown eyes
df4 = df[(df.Sex == "Male") & (df.Hair == "Black") & (df.Eye == "Brown")]
sum(df4.Freq)

32

In [88]:
# Answer the above question with a groupby and and a apply afterwards (using df)
# HINT: df.groupby( listOfColumnssToGroupBy ).apply(someFunctionThatWillSumFreq)
groupedData = df.groupby(["Sex", "Eye", "Hair"]).apply(lambda x: sum(x["Freq"]))
groupedData

Sex     Eye    Hair
Female  Blue   Black     9
               Blond    64
               Brown    34
               Red       7
        Brown  Black    36
               Blond     4
               Brown    66
               Red      16
        Green  Black     2
               Blond     8
               Brown    14
               Red       7
        Hazel  Black     5
               Blond     5
               Brown    29
               Red       7
Male    Blue   Black    11
               Blond    30
               Brown    50
               Red      10
        Brown  Black    32
               Blond     3
               Brown    53
               Red      10
        Green  Black     3
               Blond     8
               Brown    15
               Red       7
        Hazel  Black    10
               Blond     5
               Brown    25
               Red       7
dtype: int64

In [101]:
# using df (NOT df1,df2,df3,df4), replace all males with integer value of 1, 
# and all females to integer value of 0,
# replace the Sex Column with new Column, keep the same name 'Sex'
# hint. df['newCol'] = df.someColumn.apply(someFunction)
# print the first 20 rows of the new Column
def binaryGender(x):
    if x == "Male":
        return 1
    else:
        return 0
df["Sex"] = df.Sex.apply(binaryGender)
df.Sex.head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: Sex, dtype: int64

In [102]:
# using df (NOT df1,df2,df3,df4) create a new column called FreqPercent 
# FreqPercent will be the correspinding percentage of students 
# with those students attributes for that record
# HINT: someColumn = df.someColumn
# sumOfColumn = sum( someColumn )
# df['FreqPercent'] = someColumn.apply(someFunctionToGetFreqPercent)
# print the first 20 rows of this new column
Frequency = df.Freq
sumFreq = sum(Frequency)
def getPercent(x): return (float(x)/sumFreq)*100

df["FreqPercent"] = Frequency.apply(getPercent)
df.FreqPercent.head(20)

0      5.405405
1      8.952703
2      1.689189
3      0.506757
4      1.858108
5      8.445946
6      1.689189
7      5.067568
8      1.689189
9      4.222973
10     1.182432
11     0.844595
12     0.506757
13     2.533784
14     1.182432
15     1.351351
16     6.081081
17    11.148649
18     2.702703
19     0.675676
Name: FreqPercent, dtype: float64

In [98]:
# Ensure that the sum of all FreqPercent (our new column in df) is 100%
sum(df.FreqPercent)

100.0