# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [19]:
import pandas as pd

## Load the data into a DataFrame
df = pd.read_csv("../assets/Iowa_Liquor_sales_sample_10pct.csv")
## Transform the dates if needed, e.g.
df["Date"] = pd.to_datetime(df["Date"], format="%m/%d/%Y")
df.head()
df.dtypes

Date                     datetime64[ns]
Store Number                      int64
City                             object
Zip Code                         object
County Number                   float64
County                           object
Category                        float64
Category Name                    object
Vendor Number                     int64
Item Number                       int64
Item Description                 object
Bottle Volume (ml)                int64
State Bottle Cost                object
State Bottle Retail              object
Bottles Sold                      int64
Sale (Dollars)                   object
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
dtype: object

In [34]:
df.describe()
df.count()

Date                     270955
Store Number             270955
City                     270955
Zip Code                 270955
County Number            269878
County                   269878
Category                 270887
Category Name            270323
Vendor Number            270955
Item Number              270955
Item Description         270955
Bottle Volume (ml)       270955
State Bottle Cost        270955
State Bottle Retail      270955
Bottles Sold             270955
Sale (Dollars)           270955
Volume Sold (Liters)     270955
Volume Sold (Gallons)    270955
dtype: int64

From the count above, we see than the numbers of observations in columns are not equal (thie means that there are some missing entries in this data frame). Because, this is a pretty large dataset, I can drop rows with missing variables without greatly affecting the data. Before exploring the data, I create a new table with the columns that I will need for statistical analysis.

In [35]:
#First, I drop the rows with the missing entries and columns that I do not need for my analyses
df2 = df.dropna()
df2.drop(["Category", "Item Number", "County Number", "Vendor Number", "Volume Sold (Gallons)"], axis=1, inplace=True)
df2.count()

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

Date                    269258
Store Number            269258
City                    269258
Zip Code                269258
County                  269258
Category Name           269258
Item Description        269258
Bottle Volume (ml)      269258
State Bottle Cost       269258
State Bottle Retail     269258
Bottles Sold            269258
Sale (Dollars)          269258
Volume Sold (Liters)    269258
dtype: int64

In [36]:
#Then I change the Cost, Retail and Sale values from an opject datatype to a float datatype

def getType(field):
    return field.replace("$", "")

df2["Sale (Dollars)"] = df2["Sale (Dollars)"].apply(getType).astype(float)
df2["State Bottle Cost"] = df2["State Bottle Cost"].apply(getType).astype(float)
df2["State Bottle Retail"] = df2["State Bottle Retail"].apply(getType).astype(float)
df2.head(5)

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Date,Store Number,City,Zip Code,County,Category Name,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters)
0,2015-11-04,3717,SUMNER,50674,Bremer,APRICOT BRANDIES,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0
1,2016-03-02,2614,DAVENPORT,52807,Scott,BLENDED WHISKIES,Tin Cup,750,13.75,20.63,2,41.26,1.5
2,2016-02-11,2106,CEDAR FALLS,50613,Black Hawk,STRAIGHT BOURBON WHISKIES,Jim Beam,1000,12.59,18.89,24,453.36,24.0
3,2016-02-03,2501,AMES,50010,Story,AMERICAN COCKTAILS,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5
4,2015-08-18,3654,BELMOND,50421,Wright,VODKA 80 PROOF,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0

In [37]:
#Now, I want to add a columns for total cost and total profit, in dollars.
df2["Total Cost (Dollars)"] = df2["State Bottle Cost"] * df2["Bottles Sold"]
df2["Total Profit (Dollars)"] = df2["Sale (Dollars)"] - df2["Total Cost (Dollars)"]
df2.head()

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Date,Store Number,City,Zip Code,County,Category Name,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Total Cost (Dollars),Total Profit (Dollars)
0,2015-11-04,3717,SUMNER,50674,Bremer,APRICOT BRANDIES,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,54.00,27.00
1,2016-03-02,2614,DAVENPORT,52807,Scott,BLENDED WHISKIES,Tin Cup,750,13.75,20.63,2,41.26,1.5,27.50,13.76
2,2016-02-11,2106,CEDAR FALLS,50613,Black Hawk,STRAIGHT BOURBON WHISKIES,Jim Beam,1000,12.59,18.89,24,453.36,24.0,302.16,151.20
3,2016-02-03,2501,AMES,50010,Story,AMERICAN COCKTAILS,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,57.00,28.50
4,2015-08-18,3654,BELMOND,50421,Wright,VODKA 80 PROOF,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,86.40,43.20

In [26]:
groupedDf2 = df2.groupby(["County"], as_index = False).sum()
#, "Store Number", "Year", "Month")
groupedDf2
df3 = pd.DataFrame(groupedDf2)
df3.drop(["Month", "Year", "Store Number"], axis=1, inplace=True)
df3
#df3["Average Price per Bottle"] = df3["Sale (Dollars)"] / df3["Bottles Sold"]

,County,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Total Cost (Dollars),Total Profit (Dollars)
0,Adair,592500,5438.68,8167.77,4650,5.554420e+04,4359.84,36981.30,18562.90
1,Adams,238100,2377.94,3569.26,955,1.244171e+04,981.38,8290.72,4150.99
2,Allamakee,1103075,10411.70,15633.75,7450,9.900000e+04,7868.04,65848.75,33151.25
3,Appanoose,1012475,9903.40,14873.31,8171,9.842987e+04,8038.16,65536.28,32893.59
4,Audubon,232950,1982.02,2977.61,1694,1.965554e+04,1717.80,13063.78,6591.76
5,Benton,1008025,9140.10,13723.80,6449,8.003512e+04,6766.77,53309.45,26725.67
6,Black Hawk,12875925,140519.84,211004.85,172713,1.928017e+06,131951.74,1283822.59,644194.12
7,Boone,2015175,19480.05,29258.15,17233,2.230642e+05,17533.54,148220.42,74843.82
8,Bremer,2251125,22091.72,33182.25,15186,2.046495e+05,16009.78,136222.47,68427.07
9,Buchanan,1539300,15406.56,23132.47,12876,1.663298e+05,12949.08,110561.07,55768.69
10,Buena Vista,2596825,28489.58,42782.77,15822,2.136521e+05,14976.80,142101.88,71550.23
11,Butler,421625,3501.71,5261.68,2858,3.409963e+04,3121.87,22674.67,11424.96
12,Calhoun,432950,3569.10,5360.55,2987,3.599253e+04,3001.38,23959.12,12033.41
13,Carroll,1890850,18741.69,28148.48,20817,3.067951e+05,22868.38,203860.88,102934.19
14,Cass,1183375,11931.56,17913.38,9585,1.301001e+05,10057.72,86579.68,43520.46
15,Cedar,950375,8652.44,13000.53,6350,7.237459e+04,5894.43,48022.11,24352.48
16,Cerro Gordo,6302100,64120.67,96294.19,54479,6.949539e+05,52733.77,462411.34,232542.56
17,Cherokee,927025,8366.37,12573.21,7697,8.713328e+04,6940.44,57936.30,29196.98
18,Chickasaw,501400,4369.36,6565.11,3306,4.445726e+04,3735.23,29588.84,14868.42
19,Clarke,702850,6707.50,10073.51,5429,7.823346e+04,5687.35,52086.06,26147.40
20,Clay,1892100,18458.21,27717.06,13783,1.772498e+05,14604.76,118002.75,59247.07
21,Clayton,1349100,13185.04,19803.58,6282,8.974733e+04,6770.81,59705.94,30041.39
22,Clinton,3276925,32299.76,48498.55,34541,4.197627e+05,30940.57,279396.62,140366.11
23,Crawford,1093650,11037.98,16576.43,11470,1.549121e+05,13259.42,102465.65,52446.44
24,Dallas,2530850,26546.55,39877.79,36719,6.259259e+05,37375.05,416427.76,209498.16
25,Davis,214500,1875.81,2817.07,1053,1.319752e+04,1076.75,8785.09,4412.43
26,Decatur,197800,1903.64,2861.14,1784,1.974532e+04,1452.91,13137.50,6607.82
27,Delaware,727525,7031.60,10563.09,7429,1.010667e+05,7780.95,67228.11,33838.64
28,Des Moines,3682100,39289.84,58984.80,38268,4.668898e+05,31462.72,310737.83,156152.00
29,Dickinson,3357378,34889.03,52384.45,32311,4.530934e+05,33308.94,301804.71,151288.69
...,...,...,...,...,...,...,...,...,...
69,Muscatine,3631453,37576.25,56421.54,27739,3.571560e+05,25751.51,237884.57,119271.46
70,O'Brien,1718350,16253.37,24409.10,12140,1.655757e+05,13189.57,110162.98,55412.74
71,Osceola,369700,3639.61,5467.64,2132,3.031341e+04,2251.62,20178.60,10134.81
72,Page,1158450,11216.89,16847.78,9776,1.291852e+05,9485.82,85908.19,43277.00
73,Palo Alto,1170125,11082.42,16641.44,5248,7.156426e+04,5576.80,47660.95,23903.31
74,Plymouth,1482125,15508.69,23286.22,12695,1.712210e+05,12711.06,113994.22,57226.78
75,Pocahontas,532675,4588.52,6891.42,3728,4.479333e+04,4117.57,29718.54,15074.79
76,Polk,43036859,495566.06,744089.84,579677,7.747219e+06,502415.27,5159230.20,2587988.80
77,Pottawattamie,8086425,85640.84,128577.22,95268,1.277581e+06,85777.94,851004.82,426576.35
78,Poweshiek,1935350,20486.77,30757.77,12275,1.659919e+05,11869.91,110543.15,55448.74
79,Ringgold,251425,1874.32,2815.56,1298,1.822317e+04,1596.30,12134.27,6088.90
80,Sac,976550,9180.18,13787.97,4989,6.402323e+04,5232.32,42572.92,21450.31
81,Scott,14452600,159901.76,240091.32,204915,2.457277e+06,162309.65,1636817.55,820459.79
82,Shelby,621475,6115.96,9184.53,7446,1.013955e+05,8484.89,67311.47,34084.06
83,Sioux,1349100,13245.90,19887.53,13046,1.964274e+05,15002.72,130483.67,65943.70
84,Story,8301753,91645.19,137621.34,76798,1.073666e+06,74455.16,714736.86,358929.57
85,Tama,912875,8724.84,13098.21,6687,7.770956e+04,5964.79,51730.71,25978.85
86,Taylor,271750,2698.25,4050.33,1278,1.498109e+04,1158.93,9979.66,5001.43
87,Union,1131850,10792.25,16208.34,8270,1.160845e+05,8307.55,77276.34,38808.21
88,Van Buren,240850,2312.26,3471.81,1554,2.156597e+04,1566.49,14364.82,7201.15
89,Wapello,3035975,31497.81,47292.78,25464,3.297726e+05,23146.38,219428.88,110343.75
90,Warren,2469200,22705.04,34098.80,24712,3.075335e+05,25009.33,204092.54,103440.97
91,Washington,1436075,15725.78,23611.25,13218,1.733378e+05,11762.09,115453.23,57884.52
92,Wayne,171650,1552.97,2332.92,1122,1.293362e+04,1060.70,8606.51,4327.11
93,Webster,2982350,30801.88,46253.56,35212,4.435444e+05,33250.43,294680.62,148863.77
94,Winnebago,1019150,9335.25,14021.71,7625,9.535896e+04,7962.48,63483.57,31875.39
95,Winneshiek,1388875,13201.86,19822.20,11241,1.486893e+05,11244.27,99009.66,49679.67
96,Woodbury,7777475,84380.71,126677.34,94865,1.249514e+06,84348.74,832010.71,417503.62
97,Worth,421800,3518.69,5285.67,2857,3.754885e+04,3240.30,24979.67,12569.18
98,Wright,711450,6413.12,9634.23,6329,8.018167e+04,6949.95,53201.26,26980.41

In [27]:
#groupedDf3 = df2.groupby(["County", "Store Number"], as_index = False).sum()
#df4 = pd.DataFrame(groupedDf3)
#df4.drop(["Month", "Year"], axis=1, inplace=True)
#df4.head()

In [28]:
from sklearn import datasets, linear_model
import numpy as np
lm = linear_model.LinearRegression()

In [29]:
newZip = set(df2["Zip Code"])
newCounty = sorted(set(df2["County"]))
newCity = set(df2["City"])
 
totalSales = []
sumProfit = []
scoreList = []


for c in newCounty:
    #print c
    mask = df2["County"] == c
    #newCounty.append(c)
    X = df2[mask][["Sale (Dollars)"]]
    y = df2[mask][["Total Profit (Dollars)"]]
    model = lm.fit(X,y)
    scoreList.append(lm.score(X,y))
    totalSales.append(sum(df2[mask]["Sale (Dollars)"]))
    sumProfit.append(sum(df2[mask]["Total Profit (Dollars)"]))
data = pd.DataFrame({"Rsquared": scoreList, "County": newCounty, "Total Sales": totalSales, 
                    "Total Profit": sumProfit})

In [ ]:
geoQuad = {1:["Lyon", "Osceola",]}

           County  Rsquared   Total Sales  Volume Sold
0           Adair  0.531888  5.554420e+04      4359.84
1           Adams  0.817862  1.244171e+04       981.38
2       Allamakee  0.742871  9.900000e+04      7868.04
3       Appanoose  0.903481  9.842987e+04      8038.16
4         Audubon  0.775915  1.965554e+04      1717.80
5          Benton  0.692321  8.003512e+04      6766.77
6      Black Hawk  0.677953  1.928017e+06    131951.74
7           Boone  0.931788  2.230642e+05     17533.54
8          Bremer  0.739095  2.046495e+05     16009.78
9        Buchanan  0.894487  1.663298e+05     12949.08
10    Buena Vista  0.794437  2.136521e+05     14976.80
11         Butler  0.648800  3.409963e+04      3121.87
12        Calhoun  0.476384  3.599253e+04      3001.38
13        Carroll  0.767421  3.067951e+05     22868.38
14           Cass  0.640997  1.301001e+05     10057.72
15          Cedar  0.965564  7.237459e+04      5894.43
16    Cerro Gordo  0.807700  6.949539e+05     52733.77
17       Cherokee  0.534776  8.713328e+04      6940.44
18      Chickasaw  0.709400  4.445726e+04      3735.23
19         Clarke  0.929835  7.823346e+04      5687.35
20           Clay  0.723471  1.772498e+05     14604.76
21        Clayton  0.626363  8.974733e+04      6770.81
22        Clinton  0.755490  4.197627e+05     30940.57
23       Crawford  0.966919  1.549121e+05     13259.42
24         Dallas  0.800545  6.259259e+05     37375.05
25          Davis  0.356307  1.319752e+04      1076.75
26        Decatur  0.528552  1.974532e+04      1452.91
27       Delaware  0.678752  1.010667e+05      7780.95
28     Des Moines  0.626960  4.668898e+05     31462.72
29      Dickinson  0.577722  4.530934e+05     33308.94
..            ...       ...           ...          ...
69      Muscatine  0.862400  3.571560e+05     25751.51
70        O'Brien  0.903672  1.655757e+05     13189.57
71        Osceola  0.588370  3.031341e+04      2251.62
72           Page  0.688714  1.291852e+05      9485.82
73      Palo Alto  0.640377  7.156426e+04      5576.80
74       Plymouth  0.675879  1.712210e+05     12711.06
75     Pocahontas  0.977793  4.479333e+04      4117.57
76           Polk  0.725783  7.747219e+06    502415.27
77  Pottawattamie  0.786227  1.277581e+06     85777.94
78      Poweshiek  0.636092  1.659919e+05     11869.91
79       Ringgold  0.328393  1.822317e+04      1596.30
80            Sac  0.659249  6.402323e+04      5232.32
81          Scott  0.678590  2.457277e+06    162309.65
82         Shelby  0.879125  1.013955e+05      8484.89
83          Sioux  0.890507  1.964274e+05     15002.72
84          Story  0.692441  1.073666e+06     74455.16
85           Tama  0.701879  7.770956e+04      5964.79
86         Taylor  0.613684  1.498109e+04      1158.93
87          Union  0.671241  1.160845e+05      8307.55
88      Van Buren  0.549751  2.156597e+04      1566.49
89        Wapello  0.715735  3.297726e+05     23146.38
90         Warren  0.906992  3.075335e+05     25009.33
91     Washington  0.770419  1.733378e+05     11762.09
92          Wayne  0.488309  1.293362e+04      1060.70
93        Webster  0.859781  4.435444e+05     33250.43
94      Winnebago  0.967779  9.535896e+04      7962.48
95     Winneshiek  0.478778  1.486893e+05     11244.27
96       Woodbury  0.747170  1.249514e+06     84348.74
97          Worth  0.884507  3.754885e+04      3240.30
98         Wright  0.974444  8.018167e+04      6949.95

[99 rows x 4 columns]

In [33]:
rS = data2["RSquared"]
for i in rS:
    if i >=0.95:
        lm = smf.ols(formula="TotalSales ~ VolumeSold", data=data2).fit()
        lm.summary()

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

#df3.to_csv("/Users/Lola/Documents/Dami_repo/Week 3/Project/assets/df3.csv")

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

In [ ]:
sns.heatmap(df3.corr())

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [ ]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.