In [23]:
import pandas as pd

Problem Statement: Considerig the resent social and polical nstabilities that have occured in recent times, I want predict the likelihood of a coup d'etat within a country, given specific economic, political and social factors.

Currently, I'm working on these following characteristics as my features:

Economic
- Real GDP Per Capita
- Inflation
- Economic growth
- Poverty Rate


Social
- Account of ethinic violence
- Number of ethnic groups in each country
- Number of religious groups in each country
- Number or borgering countries in each country
- Fatalities that occured from ethnic or revolutionary violence
- urbanization

Politcal
- Polity score 
- Length of term of head of state (or equivalent) for each country
- Political party fractionalization


*I'm still in the process of collecting all the necessary features

In [28]:
coup = pd.read_csv("../assets/csv/Coups.csv")

In [29]:
coup.head()

       country  year  scoup1  atcoup2
0  Afghanistan  1946       0        0
1  Afghanistan  1947       0        0
2  Afghanistan  1948       0        0
3  Afghanistan  1949       0        0
4  Afghanistan  1950       0        0

Variable | Description
--|--
country | Country name
year | Year of annual record
scoup1 | Successful Coups: Number of successful coups d’état that occurred in the	
atcoup2 | Attempted Coups: Number of attempted (but ultimately unsuccessful) coups d’état that occurred in the year of record

In [33]:
stab = pd.read_csv("../assets/csv/Politicalinstability.csv")

In [35]:
stab.head()

,COUNTRY,YEAR,PTYPE,GENDEATHMAG,ETHMAGFATAL,ETHMAGFIGHT,REVMAGFATAL,REVMAGFIGHT
0,Afghanistan,1978,4,3.0,0,0,0,0
1,Afghanistan,1978,2,0.0,0,0,2,2
2,Afghanistan,1979,4,3.5,0,0,0,0
3,Afghanistan,1979,2,0.0,0,0,3,4
4,Afghanistan,1980,4,3.5,0,0,0,0

Variable | Description
--|--
COUNTRY | Country name
YEAR | Year of record
PTYPE | Event type (1=ETH; 2=REV; 3=REG; 4=GEN)
GENDEATHMAG | Scaled annual number of deaths (range 0-5.0)
ETHMAGFIGHT | Scaled number of rebel combatants or activists in ethnic war (range 0-4; 9=missing)
ETHMAGFATAL | Scaled annual number of fatalities related to ethnic fighting (range 0-4; 9=missing)
REVMAGFATAL | Scaled number of rebel combatants or activists in revolutionary war (range 0-4; 9=missing)
REVMAGFIGHT | Scaled annual number of fatalities related to revolutionary fighting (range 0-4; 9=missing)

In [36]:
polity = pd.read_csv("../assets/csv/polity.csv")

In [37]:
polity.head()

       country  year  flag  fragment  democ  autoc  polity  polity2  durable
0  Afghanistan  1940     0       NaN      0      8      -8     -8.0      NaN
1  Afghanistan  1941     0       NaN      0      8      -8     -8.0      NaN
2  Afghanistan  1942     0       NaN      0      8      -8     -8.0      NaN
3  Afghanistan  1943     0       NaN      0      8      -8     -8.0      NaN
4  Afghanistan  1944     0       NaN      0      8      -8     -8.0      NaN

Variable | Description
--|--
country | Country name
year | Year of record
flag | Event type (1=ETH; 2=REV; 3=REG; 4=GEN)
fragment | Political Fragmentation
democ | Democracy indicator (range 0-10;)
autoc | Autocracy scale (range 0-10; 9=missing)
polity | Scaled annual number of fatalities related to revolutionary fighting (range 0-4; 9=missing)
polity2 | Combined Polity Score: The POLITY score is computed by subtracting the AUTOC score from the DEMOC score; the resulting unified polity scale ranges from +10 (strongly democratic) to -10 (strongly autocratic).
durable | Revised Combined Polity Score: This variable is a modified version of the POLITY variable added in order to facilitate the use of the POLITY regime measure in time-series analyses. It modifies the combined annual POLITY score by applying a simple treatment, or ““fix,” to convert instances of “standardized authority scores” (i.e., -66, -77, and -88) to conventional polity scores (i.e., within the range, -10 to +10)



NOTE:
- -66 Cases of foreign “interruption” are treated as “system missing.”
- -77 Cases of “interregnum,” or anarchy, are converted to a “neutral”
Polity score of “0.”
- -88 Cases of “transition” are prorated across the span of the transition.
For example, country X has a POLITY score of -7 in 1957, followed
by three years of -88 and, finally, a score of +5 in 1961. The change
(+12) would be prorated over the intervening three years at a rate of
per year, so that the converted scores would be as follows: 1957 -7;
1958 -4; 1959 -1; 1960 +2; and 1961 +5

In [38]:
urban = pd.read_csv("../assets/csv/urbanpop.csv")

In [39]:
urban.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,50.78,50.76,50.75,50.73,50.72,50.70,50.69,50.67,50.65,...,44.51,44.15,43.78,43.42,43.06,42.70,42.36,42.06,41.78,41.53
1,Andorra,58.45,60.98,63.46,65.87,68.21,70.45,72.59,74.64,76.59,...,89.84,89.36,88.87,88.35,87.82,87.26,86.71,86.17,85.63,85.12
2,Afghanistan,8.22,8.51,8.81,9.11,9.43,9.75,10.09,10.43,10.79,...,23.24,23.59,23.95,24.31,24.69,25.07,25.47,25.87,26.28,26.70
3,Angola,10.44,10.80,11.20,11.62,12.06,12.50,12.97,13.44,13.93,...,36.94,37.72,38.51,39.30,40.10,40.90,41.70,42.49,43.27,44.05
4,Albania,30.71,30.94,31.02,31.09,31.16,31.23,31.30,31.37,31.45,...,47.82,48.90,49.99,51.08,52.16,53.25,54.33,55.38,56.41,57.41

The table above shows the percentage of the total population living in urban areas, for each country from 1960 to 2015.

In [40]:
gdp = pd.read_csv("../assets/csv/Realpercapitagdp.csv")

In [41]:
gdp.head()

,Country Name,1969,1970,1971,1972,1973,1974,1975,1976,1977,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,$283,$287,$291,$294,$297,$300,$302,$304,$305,...,$380,$428,$438,$516,$547,$568,$636,$634,$632,$624
1,Albania,"$1,873","$1,881","$1,893","$1,905","$1,936","$1,951","$1,967","$1,984","$2,001",...,"$3,251","$3,459","$3,729","$3,856","$3,993","$4,084","$4,139","$4,186","$4,253","$4,541"
2,Algeria,"$2,671","$2,823","$2,433","$3,011","$3,036","$3,168","$3,228","$3,394","$3,465",...,"$4,345","$4,416","$4,424","$4,412","$4,484","$4,521","$4,581","$4,620","$4,720","$4,794"
3,Angola,"$3,185","$3,172","$3,141","$3,112","$3,089","$3,154","$3,251","$3,260","$3,182",...,"$3,671","$4,371","$4,836","$4,814","$4,839","$4,885","$4,991","$5,184","$5,239","$4,153"
4,Antigua and Barbuda,"$3,321","$3,413","$3,530","$3,656","$3,794","$3,950","$4,119","$4,288","$4,467",...,"$15,408","$16,652","$16,448","$14,281","$13,089","$12,689","$13,031","$12,857","$13,106","$13,681"

The gdp table shows the real per capita GDP of each country from 1969 to 2015.