In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [32]:
path = 'http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv'
df = pd.read_csv(path, index_col=0)
df
# The dataset describes advertising dollars spend in each venue (TV, Radio, Newspaper)
# and the corresponding Sales

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
6      8.7   48.9       75.0    7.2
7     57.5   32.8       23.5   11.8
8    120.2   19.6       11.6   13.2
9      8.6    2.1        1.0    4.8
10   199.8    2.6       21.2   10.6
11    66.1    5.8       24.2    8.6
12   214.7   24.0        4.0   17.4
13    23.8   35.1       65.9    9.2
14    97.5    7.6        7.2    9.7
15   204.1   32.9       46.0   19.0
16   195.4   47.7       52.9   22.4
17    67.8   36.6      114.0   12.5
18   281.4   39.6       55.8   24.4
19    69.2   20.5       18.3   11.3
20   147.3   23.9       19.1   14.6
21   218.4   27.7       53.4   18.0
22   237.4    5.1       23.5   12.5
23    13.2   15.9       49.6    5.6
24   228.3   16.9       26.2   15.5
25    62.3   12.6       18.3    9.7
26   262.9    3.5       19.5   12.0
27   142.9   29.3       12.6   15.0
28   240.1   16.7       22.9   15.9
29   248.8   27.1       22.9   18.9
30    70.6   16.0       40.8   10.5
..     ...    ...        ...    ...
171   50.0   11.6       18.4    8.4
172  164.5   20.9       47.4   14.5
173   19.6   20.1       17.0    7.6
174  168.4    7.1       12.8   11.7
175  222.4    3.4       13.1   11.5
176  276.9   48.9       41.8   27.0
177  248.4   30.2       20.3   20.2
178  170.2    7.8       35.2   11.7
179  276.7    2.3       23.7   11.8
180  165.6   10.0       17.6   12.6
181  156.6    2.6        8.3   10.5
182  218.5    5.4       27.4   12.2
183   56.2    5.7       29.7    8.7
184  287.6   43.0       71.8   26.2
185  253.8   21.3       30.0   17.6
186  205.0   45.1       19.6   22.6
187  139.5    2.1       26.6   10.3
188  191.1   28.7       18.2   17.3
189  286.0   13.9        3.7   15.9
190   18.7   12.1       23.4    6.7
191   39.5   41.1        5.8   10.8
192   75.5   10.8        6.0    9.9
193   17.2    4.1       31.6    5.9
194  166.8   42.0        3.6   19.6
195  149.7   35.6        6.0   17.3
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [8]:
# Print out the dataframe schema (data dictionary)
#df2 = {key:row.tolist() for key,row in df.set_index('Sales').iterrows()}
df2 = df.to_dict(orient='records')
df2

[{'Newspaper': 69.200000000000003,
  'Radio': 37.799999999999997,
  'Sales': 22.100000000000001,
  'TV': 230.09999999999999},
 {'Newspaper': 45.100000000000001,
  'Radio': 39.299999999999997,
  'Sales': 10.4,
  'TV': 44.5},
 {'Newspaper': 69.299999999999997,
  'Radio': 45.899999999999999,
  'Sales': 9.3000000000000007,
  'TV': 17.199999999999999},
 {'Newspaper': 58.5, 'Radio': 41.299999999999997, 'Sales': 18.5, 'TV': 151.5},
 {'Newspaper': 58.399999999999999,
  'Radio': 10.800000000000001,
  'Sales': 12.9,
  'TV': 180.80000000000001},
 {'Newspaper': 75.0,
  'Radio': 48.899999999999999,
  'Sales': 7.2000000000000002,
  'TV': 8.6999999999999993},
 {'Newspaper': 23.5,
  'Radio': 32.799999999999997,
  'Sales': 11.800000000000001,
  'TV': 57.5},
 {'Newspaper': 11.6,
  'Radio': 19.600000000000001,
  'Sales': 13.199999999999999,
  'TV': 120.2},
 {'Newspaper': 1.0,
  'Radio': 2.1000000000000001,
  'Sales': 4.7999999999999998,
  'TV': 8.5999999999999996},
 {'Newspaper': 21.199999999999999,
  'Radio': 2.6000000000000001,
  'Sales': 10.6,
  'TV': 199.80000000000001},
 {'Newspaper': 24.199999999999999,
  'Radio': 5.7999999999999998,
  'Sales': 8.5999999999999996,
  'TV': 66.099999999999994},
 {'Newspaper': 4.0,
  'Radio': 24.0,
  'Sales': 17.399999999999999,
  'TV': 214.69999999999999},
 {'Newspaper': 65.900000000000006,
  'Radio': 35.100000000000001,
  'Sales': 9.1999999999999993,
  'TV': 23.800000000000001},
 {'Newspaper': 7.2000000000000002,
  'Radio': 7.5999999999999996,
  'Sales': 9.6999999999999993,
  'TV': 97.5},
 {'Newspaper': 46.0,
  'Radio': 32.899999999999999,
  'Sales': 19.0,
  'TV': 204.09999999999999},
 {'Newspaper': 52.899999999999999,
  'Radio': 47.700000000000003,
  'Sales': 22.399999999999999,
  'TV': 195.40000000000001},
 {'Newspaper': 114.0,
  'Radio': 36.600000000000001,
  'Sales': 12.5,
  'TV': 67.799999999999997},
 {'Newspaper': 55.799999999999997,
  'Radio': 39.600000000000001,
  'Sales': 24.399999999999999,
  'TV': 281.39999999999998},
 {'Newspaper': 18.300000000000001,
  'Radio': 20.5,
  'Sales': 11.300000000000001,
  'TV': 69.200000000000003},
 {'Newspaper': 19.100000000000001,
  'Radio': 23.899999999999999,
  'Sales': 14.6,
  'TV': 147.30000000000001},
 {'Newspaper': 53.399999999999999,
  'Radio': 27.699999999999999,
  'Sales': 18.0,
  'TV': 218.40000000000001},
 {'Newspaper': 23.5,
  'Radio': 5.0999999999999996,
  'Sales': 12.5,
  'TV': 237.40000000000001},
 {'Newspaper': 49.600000000000001,
  'Radio': 15.9,
  'Sales': 5.5999999999999996,
  'TV': 13.199999999999999},
 {'Newspaper': 26.199999999999999,
  'Radio': 16.899999999999999,
  'Sales': 15.5,
  'TV': 228.30000000000001},
 {'Newspaper': 18.300000000000001,
  'Radio': 12.6,
  'Sales': 9.6999999999999993,
  'TV': 62.299999999999997},
 {'Newspaper': 19.5, 'Radio': 3.5, 'Sales': 12.0, 'TV': 262.89999999999998},
 {'Newspaper': 12.6,
  'Radio': 29.300000000000001,
  'Sales': 15.0,
  'TV': 142.90000000000001},
 {'Newspaper': 22.899999999999999,
  'Radio': 16.699999999999999,
  'Sales': 15.9,
  'TV': 240.09999999999999},
 {'Newspaper': 22.899999999999999,
  'Radio': 27.100000000000001,
  'Sales': 18.899999999999999,
  'TV': 248.80000000000001},
 {'Newspaper': 40.799999999999997,
  'Radio': 16.0,
  'Sales': 10.5,
  'TV': 70.599999999999994},
 {'Newspaper': 43.200000000000003,
  'Radio': 28.300000000000001,
  'Sales': 21.399999999999999,
  'TV': 292.89999999999998},
 {'Newspaper': 38.600000000000001,
  'Radio': 17.399999999999999,
  'Sales': 11.9,
  'TV': 112.90000000000001},
 {'Newspaper': 30.0,
  'Radio': 1.5,
  'Sales': 9.5999999999999996,
  'TV': 97.200000000000003},
 {'Newspaper': 0.29999999999999999,
  'Radio': 20.0,
  'Sales': 17.399999999999999,
  'TV': 265.60000000000002},
 {'Newspaper': 7.4000000000000004,
  'Radio': 1.3999999999999999,
  'Sales': 9.5,
  'TV': 95.700000000000003},
 {'Newspaper': 8.5,
  'Radio': 4.0999999999999996,
  'Sales': 12.800000000000001,
  'TV': 290.69999999999999},
 {'Newspaper': 5.0,
  'Radio': 43.799999999999997,
  'Sales': 25.399999999999999,
  'TV': 266.89999999999998},
 {'Newspaper': 45.700000000000003,
  'Radio': 49.399999999999999,
  'Sales': 14.699999999999999,
  'TV': 74.700000000000003},
 {'Newspaper': 35.100000000000001,
  'Radio': 26.699999999999999,
  'Sales': 10.1,
  'TV': 43.100000000000001},
 {'Newspaper': 32.0, 'Radio': 37.700000000000003, 'Sales': 21.5, 'TV': 228.0},
 {'Newspaper': 31.600000000000001,
  'Radio': 22.300000000000001,
  'Sales': 16.600000000000001,
  'TV': 202.5},
 {'Newspaper': 38.700000000000003,
  'Radio': 33.399999999999999,
  'Sales': 17.100000000000001,
  'TV': 177.0},
 {'Newspaper': 1.8,
  'Radio': 27.699999999999999,
  'Sales': 20.699999999999999,
  'TV': 293.60000000000002},
 {'Newspaper': 26.399999999999999,
  'Radio': 8.4000000000000004,
  'Sales': 12.9,
  'TV': 206.90000000000001},
 {'Newspaper': 43.299999999999997,
  'Radio': 25.699999999999999,
  'Sales': 8.5,
  'TV': 25.100000000000001},
 {'Newspaper': 31.5, 'Radio': 22.5, 'Sales': 14.9, 'TV': 175.09999999999999},
 {'Newspaper': 35.700000000000003,
  'Radio': 9.9000000000000004,
  'Sales': 10.6,
  'TV': 89.700000000000003},
 {'Newspaper': 18.5,
  'Radio': 41.5,
  'Sales': 23.199999999999999,
  'TV': 239.90000000000001},
 {'Newspaper': 49.899999999999999,
  'Radio': 15.800000000000001,
  'Sales': 14.800000000000001,
  'TV': 227.19999999999999},
 {'Newspaper': 36.799999999999997,
  'Radio': 11.699999999999999,
  'Sales': 9.6999999999999993,
  'TV': 66.900000000000006},
 {'Newspaper': 34.600000000000001,
  'Radio': 3.1000000000000001,
  'Sales': 11.4,
  'TV': 199.80000000000001},
 {'Newspaper': 3.6000000000000001,
  'Radio': 9.5999999999999996,
  'Sales': 10.699999999999999,
  'TV': 100.40000000000001},
 {'Newspaper': 39.600000000000001,
  'Radio': 41.700000000000003,
  'Sales': 22.600000000000001,
  'TV': 216.40000000000001},
 {'Newspaper': 58.700000000000003,
  'Radio': 46.200000000000003,
  'Sales': 21.199999999999999,
  'TV': 182.59999999999999},
 {'Newspaper': 15.9,
  'Radio': 28.800000000000001,
  'Sales': 20.199999999999999,
  'TV': 262.69999999999999},
 {'Newspaper': 60.0,
  'Radio': 49.399999999999999,
  'Sales': 23.699999999999999,
  'TV': 198.90000000000001},
 {'Newspaper': 41.399999999999999,
  'Radio': 28.100000000000001,
  'Sales': 5.5,
  'TV': 7.2999999999999998},
 {'Newspaper': 16.600000000000001,
  'Radio': 19.199999999999999,
  'Sales': 13.199999999999999,
  'TV': 136.19999999999999},
 {'Newspaper': 37.700000000000003,
  'Radio': 49.600000000000001,
  'Sales': 23.800000000000001,
  'TV': 210.80000000000001},
 {'Newspaper': 9.3000000000000007,
  'Radio': 29.5,
  'Sales': 18.399999999999999,
  'TV': 210.69999999999999},
 {'Newspaper': 21.399999999999999,
  'Radio': 2.0,
  'Sales': 8.0999999999999996,
  'TV': 53.5},
 {'Newspaper': 54.700000000000003,
  'Radio': 42.700000000000003,
  'Sales': 24.199999999999999,
  'TV': 261.30000000000001},
 {'Newspaper': 27.300000000000001,
  'Radio': 15.5,
  'Sales': 15.699999999999999,
  'TV': 239.30000000000001},
 {'Newspaper': 8.4000000000000004,
  'Radio': 29.600000000000001,
  'Sales': 14.0,
  'TV': 102.7},
 {'Newspaper': 28.899999999999999,
  'Radio': 42.799999999999997,
  'Sales': 18.0,
  'TV': 131.09999999999999},
 {'Newspaper': 0.90000000000000002,
  'Radio': 9.3000000000000007,
  'Sales': 9.3000000000000007,
  'TV': 69.0},
 {'Newspaper': 2.2000000000000002,
  'Radio': 24.600000000000001,
  'Sales': 9.5,
  'TV': 31.5},
 {'Newspaper': 10.199999999999999,
  'Radio': 14.5,
  'Sales': 13.4,
  'TV': 139.30000000000001},
 {'Newspaper': 11.0,
  'Radio': 27.5,
  'Sales': 18.899999999999999,
  'TV': 237.40000000000001},
 {'Newspaper': 27.199999999999999,
  'Radio': 43.899999999999999,
  'Sales': 22.300000000000001,
  'TV': 216.80000000000001},
 {'Newspaper': 38.700000000000003,
  'Radio': 30.600000000000001,
  'Sales': 18.300000000000001,
  'TV': 199.09999999999999},
 {'Newspaper': 31.699999999999999,
  'Radio': 14.300000000000001,
  'Sales': 12.4,
  'TV': 109.8},
 {'Newspaper': 19.300000000000001,
  'Radio': 33.0,
  'Sales': 8.8000000000000007,
  'TV': 26.800000000000001},
 {'Newspaper': 31.300000000000001,
  'Radio': 5.7000000000000002,
  'Sales': 11.0,
  'TV': 129.40000000000001},
 {'Newspaper': 13.1,
  'Radio': 24.600000000000001,
  'Sales': 17.0,
  'TV': 213.40000000000001},
 {'Newspaper': 89.400000000000006,
  'Radio': 43.700000000000003,
  'Sales': 8.6999999999999993,
  'TV': 16.899999999999999},
 {'Newspaper': 20.699999999999999,
  'Radio': 1.6000000000000001,
  'Sales': 6.9000000000000004,
  'TV': 27.5},
 {'Newspaper': 14.199999999999999,
  'Radio': 28.5,
  'Sales': 14.199999999999999,
  'TV': 120.5},
 {'Newspaper': 9.4000000000000004,
  'Radio': 29.899999999999999,
  'Sales': 5.2999999999999998,
  'TV': 5.4000000000000004},
 {'Newspaper': 23.100000000000001,
  'Radio': 7.7000000000000002,
  'Sales': 11.0,
  'TV': 116.0},
 {'Newspaper': 22.300000000000001,
  'Radio': 26.699999999999999,
  'Sales': 11.800000000000001,
  'TV': 76.400000000000006},
 {'Newspaper': 36.899999999999999,
  'Radio': 4.0999999999999996,
  'Sales': 12.300000000000001,
  'TV': 239.80000000000001},
 {'Newspaper': 32.5,
  'Radio': 20.300000000000001,
  'Sales': 11.300000000000001,
  'TV': 75.299999999999997},
 {'Newspaper': 35.600000000000001,
  'Radio': 44.5,
  'Sales': 13.6,
  'TV': 68.400000000000006},
 {'Newspaper': 33.799999999999997,
  'Radio': 43.0,
  'Sales': 21.699999999999999,
  'TV': 213.5},
 {'Newspaper': 65.700000000000003,
  'Radio': 18.399999999999999,
  'Sales': 15.199999999999999,
  'TV': 193.19999999999999},
 {'Newspaper': 16.0, 'Radio': 27.5, 'Sales': 12.0, 'TV': 76.299999999999997},
 {'Newspaper': 63.200000000000003,
  'Radio': 40.600000000000001,
  'Sales': 16.0,
  'TV': 110.7},
 {'Newspaper': 73.400000000000006,
  'Radio': 25.5,
  'Sales': 12.9,
  'TV': 88.299999999999997},
 {'Newspaper': 51.399999999999999,
  'Radio': 47.799999999999997,
  'Sales': 16.699999999999999,
  'TV': 109.8},
 {'Newspaper': 9.3000000000000007,
  'Radio': 4.9000000000000004,
  'Sales': 11.199999999999999,
  'TV': 134.30000000000001},
 {'Newspaper': 33.0,
  'Radio': 1.5,
  'Sales': 7.2999999999999998,
  'TV': 28.600000000000001},
 {'Newspaper': 59.0,
  'Radio': 33.5,
  'Sales': 19.399999999999999,
  'TV': 217.69999999999999},
 {'Newspaper': 72.299999999999997,
  'Radio': 36.5,
  'Sales': 22.199999999999999,
  'TV': 250.90000000000001},
 {'Newspaper': 10.9, 'Radio': 14.0, 'Sales': 11.5, 'TV': 107.40000000000001},
 {'Newspaper': 52.899999999999999,
  'Radio': 31.600000000000001,
  'Sales': 16.899999999999999,
  'TV': 163.30000000000001},
 {'Newspaper': 5.9000000000000004,
  'Radio': 3.5,
  'Sales': 11.699999999999999,
  'TV': 197.59999999999999},
 {'Newspaper': 22.0, 'Radio': 21.0, 'Sales': 15.5, 'TV': 184.90000000000001},
 {'Newspaper': 51.200000000000003,
  'Radio': 42.299999999999997,
  'Sales': 25.399999999999999,
  'TV': 289.69999999999999},
 {'Newspaper': 45.899999999999999,
  'Radio': 41.700000000000003,
  'Sales': 17.199999999999999,
  'TV': 135.19999999999999},
 {'Newspaper': 49.799999999999997,
  'Radio': 4.2999999999999998,
  'Sales': 11.699999999999999,
  'TV': 222.40000000000001},
 {'Newspaper': 100.90000000000001,
  'Radio': 36.299999999999997,
  'Sales': 23.800000000000001,
  'TV': 296.39999999999998},
 {'Newspaper': 21.399999999999999,
  'Radio': 10.1,
  'Sales': 14.800000000000001,
  'TV': 280.19999999999999},
 {'Newspaper': 17.899999999999999,
  'Radio': 17.199999999999999,
  'Sales': 14.699999999999999,
  'TV': 187.90000000000001},
 {'Newspaper': 5.2999999999999998,
  'Radio': 34.299999999999997,
  'Sales': 20.699999999999999,
  'TV': 238.19999999999999},
 {'Newspaper': 59.0,
  'Radio': 46.399999999999999,
  'Sales': 19.199999999999999,
  'TV': 137.90000000000001},
 {'Newspaper': 29.699999999999999,
  'Radio': 11.0,
  'Sales': 7.2000000000000002,
  'TV': 25.0},
 {'Newspaper': 23.199999999999999,
  'Radio': 0.29999999999999999,
  'Sales': 8.6999999999999993,
  'TV': 90.400000000000006},
 {'Newspaper': 25.600000000000001,
  'Radio': 0.40000000000000002,
  'Sales': 5.2999999999999998,
  'TV': 13.1},
 {'Newspaper': 5.5,
  'Radio': 26.899999999999999,
  'Sales': 19.800000000000001,
  'TV': 255.40000000000001},
 {'Newspaper': 56.5,
  'Radio': 8.1999999999999993,
  'Sales': 13.4,
  'TV': 225.80000000000001},
 {'Newspaper': 23.199999999999999,
  'Radio': 38.0,
  'Sales': 21.800000000000001,
  'TV': 241.69999999999999},
 {'Newspaper': 2.3999999999999999,
  'Radio': 15.4,
  'Sales': 14.1,
  'TV': 175.69999999999999},
 {'Newspaper': 10.699999999999999,
  'Radio': 20.600000000000001,
  'Sales': 15.9,
  'TV': 209.59999999999999},
 {'Newspaper': 34.5,
  'Radio': 46.799999999999997,
  'Sales': 14.6,
  'TV': 78.200000000000003},
 {'Newspaper': 52.700000000000003,
  'Radio': 35.0,
  'Sales': 12.6,
  'TV': 75.099999999999994},
 {'Newspaper': 25.600000000000001,
  'Radio': 14.300000000000001,
  'Sales': 12.199999999999999,
  'TV': 139.19999999999999},
 {'Newspaper': 14.800000000000001,
  'Radio': 0.80000000000000004,
  'Sales': 9.4000000000000004,
  'TV': 76.400000000000006},
 {'Newspaper': 79.200000000000003,
  'Radio': 36.899999999999999,
  'Sales': 15.9,
  'TV': 125.7},
 {'Newspaper': 22.300000000000001,
  'Radio': 16.0,
  'Sales': 6.5999999999999996,
  'TV': 19.399999999999999},
 {'Newspaper': 46.200000000000003,
  'Radio': 26.800000000000001,
  'Sales': 15.5,
  'TV': 141.30000000000001},
 {'Newspaper': 50.399999999999999,
  'Radio': 21.699999999999999,
  'Sales': 7.0,
  'TV': 18.800000000000001},
 {'Newspaper': 15.6, 'Radio': 2.3999999999999999, 'Sales': 11.6, 'TV': 224.0},
 {'Newspaper': 12.4,
  'Radio': 34.600000000000001,
  'Sales': 15.199999999999999,
  'TV': 123.09999999999999},
 {'Newspaper': 74.200000000000003,
  'Radio': 32.299999999999997,
  'Sales': 19.699999999999999,
  'TV': 229.5},
 {'Newspaper': 25.899999999999999,
  'Radio': 11.800000000000001,
  'Sales': 10.6,
  'TV': 87.200000000000003},
 {'Newspaper': 50.600000000000001,
  'Radio': 38.899999999999999,
  'Sales': 6.5999999999999996,
  'TV': 7.7999999999999998},
 {'Newspaper': 9.1999999999999993,
  'Radio': 0.0,
  'Sales': 8.8000000000000007,
  'TV': 80.200000000000003},
 {'Newspaper': 3.2000000000000002,
  'Radio': 49.0,
  'Sales': 24.699999999999999,
  'TV': 220.30000000000001},
 {'Newspaper': 43.100000000000001,
  'Radio': 12.0,
  'Sales': 9.6999999999999993,
  'TV': 59.600000000000001},
 {'Newspaper': 8.6999999999999993,
  'Radio': 39.600000000000001,
  'Sales': 1.6000000000000001,
  'TV': 0.69999999999999996},
 {'Newspaper': 43.0,
  'Radio': 2.8999999999999999,
  'Sales': 12.699999999999999,
  'TV': 265.19999999999999},
 {'Newspaper': 2.1000000000000001,
  'Radio': 27.199999999999999,
  'Sales': 5.7000000000000002,
  'TV': 8.4000000000000004},
 {'Newspaper': 45.100000000000001,
  'Radio': 33.5,
  'Sales': 19.600000000000001,
  'TV': 219.80000000000001},
 {'Newspaper': 65.599999999999994,
  'Radio': 38.600000000000001,
  'Sales': 10.800000000000001,
  'TV': 36.899999999999999},
 {'Newspaper': 8.5, 'Radio': 47.0, 'Sales': 11.6, 'TV': 48.299999999999997},
 {'Newspaper': 9.3000000000000007,
  'Radio': 39.0,
  'Sales': 9.5,
  'TV': 25.600000000000001},
 {'Newspaper': 59.700000000000003,
  'Radio': 28.899999999999999,
  'Sales': 20.800000000000001,
  'TV': 273.69999999999999},
 {'Newspaper': 20.5,
  'Radio': 25.899999999999999,
  'Sales': 9.5999999999999996,
  'TV': 43.0},
 {'Newspaper': 1.7,
  'Radio': 43.899999999999999,
  'Sales': 20.699999999999999,
  'TV': 184.90000000000001},
 {'Newspaper': 12.9, 'Radio': 17.0, 'Sales': 10.9, 'TV': 73.400000000000006},
 {'Newspaper': 75.599999999999994,
  'Radio': 35.399999999999999,
  'Sales': 19.199999999999999,
  'TV': 193.69999999999999},
 {'Newspaper': 37.899999999999999,
  'Radio': 33.200000000000003,
  'Sales': 20.100000000000001,
  'TV': 220.5},
 {'Newspaper': 34.399999999999999,
  'Radio': 5.7000000000000002,
  'Sales': 10.4,
  'TV': 104.59999999999999},
 {'Newspaper': 38.899999999999999,
  'Radio': 14.800000000000001,
  'Sales': 11.4,
  'TV': 96.200000000000003},
 {'Newspaper': 9.0,
  'Radio': 1.8999999999999999,
  'Sales': 10.300000000000001,
  'TV': 140.30000000000001},
 {'Newspaper': 8.6999999999999993,
  'Radio': 7.2999999999999998,
  'Sales': 13.199999999999999,
  'TV': 240.09999999999999},
 {'Newspaper': 44.299999999999997,
  'Radio': 49.0,
  'Sales': 25.399999999999999,
  'TV': 243.19999999999999},
 {'Newspaper': 11.9, 'Radio': 40.299999999999997, 'Sales': 10.9, 'TV': 38.0},
 {'Newspaper': 20.600000000000001,
  'Radio': 25.800000000000001,
  'Sales': 10.1,
  'TV': 44.700000000000003},
 {'Newspaper': 37.0,
  'Radio': 13.9,
  'Sales': 16.100000000000001,
  'TV': 280.69999999999999},
 {'Newspaper': 48.700000000000003,
  'Radio': 8.4000000000000004,
  'Sales': 11.6,
  'TV': 121.0},
 {'Newspaper': 14.199999999999999,
  'Radio': 23.300000000000001,
  'Sales': 16.600000000000001,
  'TV': 197.59999999999999},
 {'Newspaper': 37.700000000000003,
  'Radio': 39.700000000000003,
  'Sales': 19.0,
  'TV': 171.30000000000001},
 {'Newspaper': 9.5,
  'Radio': 21.100000000000001,
  'Sales': 15.6,
  'TV': 187.80000000000001},
 {'Newspaper': 5.7000000000000002,
  'Radio': 11.6,
  'Sales': 3.2000000000000002,
  'TV': 4.0999999999999996},
 {'Newspaper': 50.5,
  'Radio': 43.5,
  'Sales': 15.300000000000001,
  'TV': 93.900000000000006},
 {'Newspaper': 24.300000000000001,
  'Radio': 1.3,
  'Sales': 10.1,
  'TV': 149.80000000000001},
 {'Newspaper': 45.200000000000003,
  'Radio': 36.899999999999999,
  'Sales': 7.2999999999999998,
  'TV': 11.699999999999999},
 {'Newspaper': 34.600000000000001,
  'Radio': 18.399999999999999,
  'Sales': 12.9,
  'TV': 131.69999999999999},
 {'Newspaper': 30.699999999999999,
  'Radio': 18.100000000000001,
  'Sales': 14.4,
  'TV': 172.5},
 {'Newspaper': 49.299999999999997,
  'Radio': 35.799999999999997,
  'Sales': 13.300000000000001,
  'TV': 85.700000000000003},
 {'Newspaper': 25.600000000000001,
  'Radio': 18.100000000000001,
  'Sales': 14.9,
  'TV': 188.40000000000001},
 {'Newspaper': 7.4000000000000004,
  'Radio': 36.799999999999997,
  'Sales': 18.0,
  'TV': 163.5},
 {'Newspaper': 5.4000000000000004,
  'Radio': 14.699999999999999,
  'Sales': 11.9,
  'TV': 117.2},
 {'Newspaper': 84.799999999999997,
  'Radio': 3.3999999999999999,
  'Sales': 11.9,
  'TV': 234.5},
 {'Newspaper': 21.600000000000001,
  'Radio': 37.600000000000001,
  'Sales': 8.0,
  'TV': 17.899999999999999},
 {'Newspaper': 19.399999999999999,
  'Radio': 5.2000000000000002,
  'Sales': 12.199999999999999,
  'TV': 206.80000000000001},
 {'Newspaper': 57.600000000000001,
  'Radio': 23.600000000000001,
  'Sales': 17.100000000000001,
  'TV': 215.40000000000001},
 {'Newspaper': 6.4000000000000004,
  'Radio': 10.6,
  'Sales': 15.0,
  'TV': 284.30000000000001},
 {'Newspaper': 18.399999999999999,
  'Radio': 11.6,
  'Sales': 8.4000000000000004,
  'TV': 50.0},
 {'Newspaper': 47.399999999999999,
  'Radio': 20.899999999999999,
  'Sales': 14.5,
  'TV': 164.5},
 {'Newspaper': 17.0,
  'Radio': 20.100000000000001,
  'Sales': 7.5999999999999996,
  'TV': 19.600000000000001},
 {'Newspaper': 12.800000000000001,
  'Radio': 7.0999999999999996,
  'Sales': 11.699999999999999,
  'TV': 168.40000000000001},
 {'Newspaper': 13.1,
  'Radio': 3.3999999999999999,
  'Sales': 11.5,
  'TV': 222.40000000000001},
 {'Newspaper': 41.799999999999997,
  'Radio': 48.899999999999999,
  'Sales': 27.0,
  'TV': 276.89999999999998},
 {'Newspaper': 20.300000000000001,
  'Radio': 30.199999999999999,
  'Sales': 20.199999999999999,
  'TV': 248.40000000000001},
 {'Newspaper': 35.200000000000003,
  'Radio': 7.7999999999999998,
  'Sales': 11.699999999999999,
  'TV': 170.19999999999999},
 {'Newspaper': 23.699999999999999,
  'Radio': 2.2999999999999998,
  'Sales': 11.800000000000001,
  'TV': 276.69999999999999},
 {'Newspaper': 17.600000000000001,
  'Radio': 10.0,
  'Sales': 12.6,
  'TV': 165.59999999999999},
 {'Newspaper': 8.3000000000000007,
  'Radio': 2.6000000000000001,
  'Sales': 10.5,
  'TV': 156.59999999999999},
 {'Newspaper': 27.399999999999999,

In [19]:
# Are there any null values? If so, should we filter out, all, or some? 
pd.isnull(df2)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False], dtype=bool)

In [20]:
# Print out summary statistics of the dataframe
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [33]:
# show the first 10 rows of the dataframe
df.ix[:10]

       TV  Radio  Newspaper  Sales
1   230.1   37.8       69.2   22.1
2    44.5   39.3       45.1   10.4
3    17.2   45.9       69.3    9.3
4   151.5   41.3       58.5   18.5
5   180.8   10.8       58.4   12.9
6     8.7   48.9       75.0    7.2
7    57.5   32.8       23.5   11.8
8   120.2   19.6       11.6   13.2
9     8.6    2.1        1.0    4.8
10  199.8    2.6       21.2   10.6

In [30]:
# how many rows in the dataframe, if you did filter or did not filter?
# Do not use count!. Hint. Look into shape on a dataframe object
df.shape

(200, 4)

In [35]:
# What was the sum of all Sales when spent on Radio was greater than or equal to 10K? 
def sumOfSales(val):
    if "Radio" >=10:
        df.sum(val)
    return val
y = [sumOfSales(i) for i in df.columns("Sales")]

TypeError: 'Index' object is not callable

In [81]:
# create a fourth column in the dataFrame, called All, that symbolizes all advertising dollars spent
# You must use an apply. i.e. df['All'] = df.apply(someFunction, axis = 1)
# When you do axis = 1 you tell it to map line by line instead of column through the entire df

In [82]:
# Create 4 Scatter Plots

# 1. TV Spend Vs Sales (x = TV Spend, y = Sales)
# 2. Radio Spend Vs Sales ( x = Radio Spend, y = Sales )
# 3. Newspaper Spend Vs Sales ( x = Newspaper Spend, y = Sales )
# 4. All Advertisting Spend Vs. Sales ( x = All Advertising Spend, y = Sales )
# HINT: fig, axs = plt.subplots(1, 4, sharey=True), and then use df.plot 4 times
# with correct x and y labels and ax labels.

# What Conclusions can you make? i.e. more advertising dollars spent in TV, increases sales
# More than Radio Sales?